.sign-in {
    padding: 30px 250px;
    background-color: #dbe2f6;
    height: 100vh;
    font-family: var(--exp-font-family) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-in-wrapper {
        height: 90vh;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        .wrapper-main {
            height: 100%;
        }
        .signin-title{
            text-align: left;
            h3{
                color: #014f86

            }
            h6{
                color: #014f86
            }
        }
        .checkbox {
            input {
                border-color: var(--exp-primary-color);
            }
            label{
                font-size: small;
                color: var(--exp-primary-color);
            }
        }
        .forgot{
            text-align: end;
            a{
                text-decoration: none;
                color: var(--exp-primary-color);
            }
        }
        /* .signin-button{
            &:hover {
                background-color: var(--exp-primary-color);
            }
        } */
        .signup {
            h5 {
                opacity: 0.8;
                font-size:medium;
            }
            a{
                text-decoration: none;
                color: var(--exp-primary-color);
            }
        }
    }
    .signin-field {
        &::focus {
            color: #014f86;
        }
        label {
            color: #014f86;
        }
    }
    .code-button {
        background-color: var(--exp-primary-color);
        &:hover {
            background-color: var(--exp-primary-color);
        }
    }
    .sign-in-img-content {
        display: flex;
        flex-direction: column;
        color: white;
        width: 100vh;
        .img-size{
            display: flex;
            align-items: start;
            padding: 20px;
        }
        .img-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            .title{
                margin-bottom: 0px;
            }
            .content{
                opacity: 0.6;
                padding: 0px 20px;
            }
        }
        .copyright {
            opacity: 0.4;
        }
    }
    .box-login-form {
        .MuiFormLabel-root, .MuiInputBase-inputMultiline {
            font-family: 'Poppins'
          }
    }
}

@media (max-width: 1024px) {
    .sign-up-wrapper {
        height: 600px;
    }
    .sign-in-img {
        display: none !important;
    }
    .sign-in-input {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}

@media (max-width: 768px) {
    .sign-in {
        padding: 30px 100px;
    }
}
@media (max-width: 426px) {
    .sign-in {
        padding: 30px 30px;
    }
}